body {
  background-color: #222;
  color: #fff;
}

footer {
    margin: 50px 0;
    text-align: center;
}

.social-media {
  margin-bottom: 50px;
}

.social-media a {
  color: #fff;
}

.social-media a:hover {
  color: #008cba;
}

.copyright {
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 0 !important;
  background-color: #222;
}

.page-header {
  margin-top: 0 !important;
}

.btn {
  transition: background-color 300ms ease-out;
}
