body {
  font-size: 18px;
}

footer {
    margin: 50px 0;
    text-align: center;
}

h4 {
  line-height: 30px;
}

img {
  border: 2px solid #ddd;
  transition: opacity 300ms ease-out, border 300ms ease-out;
}

img:hover {
  opacity: 0.8;
  border: 2px solid #aaa;
}

.text-info {
  color: #376760;
  font-weight: 400;
}

.no-top-margin {
  margin-top: 0;
}

.social-media {
  margin: 10px 0 5px 0;
  text-align: center;
}

.social-media a {
  color: #fff;
  transition: color 300ms ease-out;
}

.social-media a:hover {
  color: #376760;
}

.copyright {
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 15px !important;
  background-color: #70B9B0;
  color: #fff;
}

.page-header {
  margin-top: 0 !important;
}

.btn {
  transition: background-color 300ms ease-out;
}

.btn-default {
  background-color: #70b9b0;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: #376760 !important;
}

.project {
  margin-bottom: 50px;
}

.align-right {
  float: right;
}

.vertical-align {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.label {
  transition: background-color 300ms ease-out;
}

.label-primary:hover {
  background-color: #4584C3;
}

.label-warning:hover {
  background-color: #ff9a65;
}

.label-danger:hover {
  background-color: #FF635E;
}

.links {
  margin-bottom: 15px;
}

.links a {
  font-size: 16px !important;
}

#backToTop {
    position: fixed;
	bottom: 2rem;
	right: 2rem;
	cursor: pointer;
	display: none;
    color: #ffffff;
    background: rgba(112, 185, 176, 0.3);
    border-radius: 6px;
}

#backToTop:hover {
    background: rgba(112, 185, 176, 1);
}